<template>
  <h1>BUILD YOUR DECK!</h1>

  <p>
    name: <input v-model="deck.name" type="text"/>
  </p>

  <p>
    units:
  </p>
  <ul>
    <li
      v-for="unit in deck.units"
    >
      {{unit}}
    </li>
  </ul>

  <p>
    available units:
  </p>
  <ul>
    <li
      v-for="unit in library.units"
      @click="deck.units.push(unit)"
    >
      {{unit}}
    </li>
  </ul>

  <div class="card" style="width: 22rem; margin: 0 auto">
    <div class="card-body">
      <h5 class="card-title">Panels: {{total_land}}/10</h5>
      <p class="card-text">
        Red: {{deck.land.red}} <input v-model="deck.land.red" type="range" :max="max_red" min="0"/><br/>
        Green: {{deck.land.green}} <input v-model="deck.land.green" type="range" :max="max_green" min="0"/><br/>
        Blue: {{deck.land.blue}} <input v-model="deck.land.blue" type="range" :max="max_blue" min="0"/><br/>
        Yellow: {{deck.land.yellow}} <input v-model="deck.land.yellow" type="range" :max="max_yellow" min="0"/><br/>
      </p>
      <div class="land_hexes">
        <div class="hex-row" v-for="row in land_rows">
          <div v-for="color in row" class="hex" :class="color"></div>
        </div>
      </div>
    </div>
  </div>

  <p>
    spells:
  </p>
  <ul>
    <li
      v-for="spell in deck.spells"
    >
      {{spell}}
    </li>
  </ul>

  <p>
    available spells:
  </p>
  <ul>
    <li
      v-for="spell in library.spells"
      @click="deck.spells.push(spell)"
    >
      {{spell}}
    </li>
  </ul>

</template>

<script setup>
import { reactive, computed } from 'vue'

const deck = reactive({
  name: "deck name",
  units: [],
  land: {red: 0, green: 0, blue: 0, yellow: 0},
  spells: [],
})

const library = {
  units: ['unit a', 'unit b'],
  spells: ['spell x', 'unit y'],
}

const max_red = computed(() => 10 - deck.land.green - deck.land.blue - deck.land.yellow)
const max_green = computed(() => 10 - deck.land.red - deck.land.blue - deck.land.yellow)
const max_blue = computed(() => 10 - deck.land.red - deck.land.green - deck.land.yellow)
const max_yellow = computed(() => 10 - deck.land.red - deck.land.green - deck.land.blue)
const total_land = computed(() => +deck.land.red + +deck.land.green + +deck.land.blue + +deck.land.yellow)
const all_land = computed(() => {
  let land = new Array(0);
  return land.concat(
    Array(+deck.land.red || 0).fill("red"),
    Array(+deck.land.green || 0).fill("green"),
    Array(+deck.land.blue || 0).fill("blue"),
    Array(+deck.land.yellow || 0).fill("yellow"),
    Array(10 - (+total_land.value || 0)).fill("grey")
  )
})
const land_rows = computed(() => {
  const all = all_land.value
  // this tile arrangement snakes around the board in an S.
  return [
      [all[1], all[0], all[4]],
      [all[2], all[3], all[5]],
      [all[7], all[6], all[9]],
      [all[8]],
  ]
})
</script>

<style scoped>
a {
  color: #42b983;
}

.land_hexes {
  height: 425px;
  width: 306px;
  margin: 0 auto;
}

.hex {
    float: left;
    margin-top: 53px;
    margin-right: 32px;
    margin-bottom: -50px;
    width: 60px;
    height: 104px;
    background: #6C6;
}
.hex:before {
    content: "";
    float: left;
    width: 0;
    position: relative;
    left: -30px;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex:after {
    content: "";
    float: left;
    width: 0;
    position: relative;
    right: -30px;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
    padding-left: 30px;
}
.hex:nth-child(even) {
    margin-top: 0;
}
.hex-row:last-child > .hex {
  /* last hex is solo on its own row, push it to middle. */
  margin-left: 92px;
  margin-top: 0;
}

.hex.red {background-color: #dc3545}
.hex.red:after {border-left-color: #dc3545}
.hex.red:before {border-right-color: #dc3545}
.hex.green {background-color: #28a745}
.hex.green:after {border-left-color: #28a745}
.hex.green:before {border-right-color: #28a745}
.hex.blue {background-color: #007bff}
.hex.blue:after {border-left-color: #007bff}
.hex.blue:before {border-right-color: #007bff}
.hex.yellow {background-color: #ffc107}
.hex.yellow:after {border-left-color: #ffc107}
.hex.yellow:before {border-right-color: #ffc107}
.hex.grey {background-color: #6c757d}
.hex.grey:after {border-left-color: #6c757d}
.hex.grey:before {border-right-color: #6c757d}
</style>