<template>
  <img alt="Coloball logo" src="./assets/coloball2002logo.300.png" />
  <DeckBuilder />
</template>

<script setup>
import DeckBuilder from './components/DeckBuilder.vue'
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>